@font-face{
  font-family:"Avenir Roman" ;  
  src: url(avenir-roman.ttf) format("truetype");
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background: url("disney.jpg") no-repeat top center ;
    background-size: 1300px ;
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: black;
}

.logo{
    max-width: 160px;
}

.hero-content{
    padding-left: 80px;
}

h1{
    font-family: "Avenir Roman", sans-serif;
    font-size: 43px;
    line-height: 53px;
    color:#f9f9f9 ;
}

.precos-container{
    display: flex;
}



